*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

li{
    list-style: none;
}

a{
    color:white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button{
    border: none;
}
/* 设置默认样式 */
body{
    font-family: "Fira Code Web", Consolas, Helvetica, "微软雅黑", "宋体";
    font-weight: 400;
    font-display: swap;
    line-height: 1.6;
    color: #000;
    background-color: #fff;
    flex-direction: column;
}